[Unit]
Description=Viethas Cloudcamera Box service
After=multi-user.target

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/haidang/.Xauthority"
WorkingDirectory=/home/haidang/VHBox_release-0.3.1-beta/
ExecStart=/usr/bin/python3 /root/VHBox_release-0.3.1-beta/main.py

[Install]
WantedBy=graphical.target
