#panel_camera {
    background-color: #FFFFFF;
    border-radius: 5px;
}

#title {
    background-color: #FFFFFF;
    color: #00a859;
    font-size: 16px;
    font-weight: 600;
}

#btn_back {
    border-radius: 5px;
    color: #ff5555;
    background-color: #FFFFFF;
    border: 2px solid #ff5555;
    font-weight: 500;
}

#btn_back:hover {
    background-color: #ff5555;
    color : #FFFFFF;
    border: 2px solid #ff5555;
}

#panel {
    background-color: #FFFFFF;
}

#textbox {
    border-radius: 5px;
    background-color: #eaeaea;
    padding-left: 5px;
    border: 2px solid #e5e5e5;
}

#btn_save {
    border-radius: 5px;
    color : #FFFFFF;
    background-color: #00a859;
    font-weight: 500;
}

#btn_save:hover {
    background-color: #006d3a;
}

QComboBox {
    color:black;
    background-color: #eaeaea;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
}

QComboBox::drop-down {
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(168, 168, 168);
}


#lbl_title {
    background-color: #FFFFFF;
}

QScrollBar::handle:vertical {	
    width: 5px;
    background-color: #858585;
    min-height: 15px;
    border-radius: 2px;
}
QScrollBar::handle:vertical:hover{	
    background-color: #00a859;
}
QScrollBar::handle:vertical:pressed {	
    background-color: #00a859;
}

/* BTN TOP - SCROLLBAR */
QScrollBar::sub-line:vertical {
    border: none;
    background-color: #f2f2f2;
    height: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:hover {	
    background-color: #00a859;
}
QScrollBar::sub-line:vertical:pressed {	
    background-color: #00a859;
}

/* BTN BOTTOM - SCROLLBAR */
QScrollBar::add-line:vertical {
    border: none;
    background-color: #f2f2f2;
    height: 15px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:hover {	
    background-color: #00a859;
}
QScrollBar::add-line:vertical:pressed {	
    background-color: #00a859;
}

/* RESET ARROW */
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}