#panel_calendar {
    background-color: #c7ecee;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
}

#lbl_datetime {
    border: none;
    background-color: #c7ecee;
    font-weight: bold;
    color: #130f40;
}

#btn_month {
    background-color: #c7ecee;
    border-radius: 6px;
}

#btn_month:hover {
    background-color: aquamarine;
}

#label_const {
    border: none;
    background-color: #c7ecee;
    font-size: 14px;
    font-weight: bold;
    color: #130f40;
}

#label_date {
    border: none;
    background-color: #c7ecee;
    font-size: 12px;
    font-weight: bold;
    color: #30336b;
}

#label_date:hover {
    font-size: 15px;
    border-radius: 5px;
    background-color: #fc5c65;
    color: #FFFFFF;
}

#btn_extend {
    background-color: #55efc4;
    border-radius: 5px;
}

#btn_extend:hover {
    background-color: #00b894;
}

#lbl_time {
    background-color: azure;
    font-size: 50px;
    font-weight: bold;
    color: #30336b;
}

#panel_time {
    background-color: azure;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}