QLabel{
    background-color: #FFFFFF;
}

#btn_playback {
    border: none;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #7f8c8d;
}

#btn_overview {
    border: none;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #7f8c8d;
}

#btn_setting {
    border: none;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #7f8c8d;
}