#panel_search {
    background-color: #FFFFFF;
    border-radius: 5px;
}

#title {
    background-color: #FFFFFF;
    color: #00a859;
    font-size: 16px;
    font-weight: bold;
}

#label {
    background-color: #FFFFFF;
    color: black;
}

/* QComboBox {
    color:black;
    background-color: #c7ecee;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    color : #30336b;
    font-size: 14px;
    font-weight: bold;
}

QComboBox::drop-down {
    image: url("interface/resources/arrow_down.png");
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 15px;
    right: 5px;
}

QComboBox QAbstractItemView
{
    background-color: #c7ecee;
    border: none;
    border-radius: 8px;
}

QComboBox QAbstractItemView::item
{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
} */

#btn_search {
    border-radius: 5px;
    background-color: #20bf6b;
    color: #FFFFFF;
    font-weight: bold;
}

#btn_search:hover {
    background-color: #00b894;
    color: #FFFFFF;
}

#groupbox {
    background-color: #ffffff;
    border: none;
}


QScrollBar:vertical {
	border: none;
    background: #ffffff;
    width: 8px;
    margin: 15px 0 15px 0;
	border-radius: 2px;
}

/*  HANDLE BAR VERTICAL */
QScrollBar::handle:vertical {	
	background-color: #858585;
	min-height: 30px;
	border-radius: 2px;
}
QScrollBar::handle:hover{	
	background-color: #00a859;
}
QScrollBar::handle:pressed {	
	background-color: #00a859;
}

/* BTN TOP - SCROLLBAR */
QScrollBar::sub-line {
	border: none;
	background-color: #f2f2f2;
	height: 15px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:hover {	
	background-color: #00a859;
}
QScrollBar::sub-line:pressed {	
	background-color: #00a859;
}

/* BTN BOTTOM - SCROLLBAR */
QScrollBar::add-line {
	border: none;
	background-color: #f2f2f2;
	height: 15px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::add-line:hover {	
	background-color: #00a859;
}
QScrollBar::add-line:pressed {	
	background-color: #00a859;
}

/* RESET ARROW */
QScrollBar::up-arrow, QScrollBar::down-arrow {
	background: none;
}
QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}

#scrollarea {
    border: none;
    background-color: #FFFFFF;
}

#label_file {
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    color:rgb(80, 77, 77)
}

#label_file:hover {
    background-color: #eaeaea;
}

QScrollBar:horizontal {
    border: none;
    background: none;
    height: 8px;
    margin: 0px 15px 0 15px;
    border-radius: 2px;
}

QScrollBar::handle:horizontal {
    background: lightgray;
}

QScrollBar::add-line:horizontal {
    background: none;
    width: 26px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    
}

QScrollBar::sub-line:horizontal {
    background: none;
    width: 15px;
    subcontrol-position: top left;
    subcontrol-origin: margin;
    border-radius: 2px;
    position: absolute;
}

QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}