#splash {
    background-color:rgba(223, 230, 233, 0.8)
}

#panel {
    background-color:rgba(0, 0, 0, 0);
}

#label {
    color: #34495e;
    font-weight: bold;
    font-size: 25px;
    background-color:rgba(0, 0, 0, 0);
    /* background-color:rgba(223, 230, 233, 0.5); */
}